.exp__inner {
  padding: 16px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 800px){ 
      flex-direction: column;
  }

  .exp__title {
      position: sticky;
      top: 70px;
      left: 0;
      width: 48%;
      height: 5vw;
      font-size: 4vw;
      font-weight: 900;
      line-height: 1.6;
      font-family: var(--mainKor-font);
      text-transform: uppercase;
      color: var(--black100);
      border-bottom: 0.4vw solid var(--black100);

      @media (max-width: 800px){ 
          width: 100%;
          margin-bottom: 10vw;
          font-size: 30px;
          height: auto;
          top: 68px;
          background-color: var(--mainBg-color);
      }

      em {
          font-size: 1.25rem;
          font-weight: 400;
          line-height: 2;
      }
  }
  .exp__desc {
      width: 50%;

      @media (max-width: 800px){ 
          width: 100%;
      }

      span {
          font-size: 5vw;
          line-height: 1;
          font-weight: 900;
          line-height: 1.3;
          font-family: var(--mainNum-font);

          @media (max-width: 800px){ 
              font-size: 12vw;
          }
      }
      h3 {
          font-size: 1.5rem;
          text-decoration: underline;
          text-underline-position: under;
          margin-bottom: 1vw;
      }
      p {
          font-size: 1.1rem;
          margin-bottom: 0;
      }
  }

  .exp__container {
      padding-bottom: 10vh;
  }

  .exp__button {
      text-transform: uppercase;
      font-size: 14px;
      padding: 0 0 14px 0;
      position: relative;

      &::before {
          content: '';
          width: 100%;
          height: 1px;
          background-color: var(--black);
          position: absolute;
          bottom: 10px;
          transform: scaleX(0);
          transition: all 0.3s;
      }
      &:hover::before {
          transform: scaleX(1);
      }
  }
  .exp__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 10px 0 20px;

    span {
      font-size: 1rem;
      font-weight: 600;
      line-height: 1;
      line-height: 1.3;
      font-family: var(--mainNum-font);
    }
  }
  
  .exp__tag {
    display: inline-block;
    background-color: #f0f0f0;
    color: #333;
    padding: 6px 12px;
    font-size: 0.85rem;
    font-weight: 500;
    border-radius: 999px; // pill shape
    border: 1px solid #ddd;
    font-family: var(--mainEng-font);
  }
}