* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color: #f2f2f2; */
  background-color: rgb(32, 32, 32);
  min-height: 100vh;
}

body {
  margin: 0;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

hr {
  color: #8bff5d;
}

button {
  width: 16rem;
  border: 0.05rem solid #8bff5d;
  border-radius: 0.8vmin;
  padding: 0.8rem 1.2rem;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #8bff5d;
  color: #333;
  transition: all 0.2s ease-in;
  cursor: pointer;
  margin: 1.6rem auto;
}

button:hover {
  background-color: #22222275;
  color: #8bff5d;
  border: 0.05rem solid #8bff5d;
}

button:disabled {
  background-color: grey;
}

form {
  display: grid;
  gap: 1.2vmin;
  padding: 1rem;
  border-radius: 1vmin;
  width: 400px;
  text-align: center;
}

input,
select,
textarea {
  font-size: 1.2rem;
  border-radius: 0.5vmin;
  padding: 0.4rem;
}

form > button:last-child {
  margin-top: 2vmin;
}

label {
  font-size: 1rem;
}

.title {
  margin-top: 4rem;
}

.error-message {
  color: rgb(166, 29, 29);
}

/* font size */
h1 {
  font-size: 3.4rem;
  color: #fff;
}
h2 {
  font-size: 2.75rem;
  color: #fff;
}
h3 {
  font-size: 2.2rem;
  color: #fff;
}
h4 {
  font-size: 1.75rem;
  color: #fff;
}
h5 {
  font-size: 1.4rem;
  color: #fff;
}
h6 {
  font-size: 1.1rem;
  color: #fff;
}
